BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
SortIncludes: true
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpaceAfterCStyleCast: false
AlignTrailingComments: true
ReflowComments: true
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeFunctionDefinition: false
AlwaysBreakAfterReturnType: None
# Add or adjust options as needed for your style
